h1 {
  font-family: 'Kalam', cursive;
}
h2 {
  font-family: 'Open Sans', sans-serif;
}
#root {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#sumbit_button {
  margin: 2%;
}

.weather_text {
  align-items: center;
  padding-left: 2%;
  font-family: 'Kalam', cursive;
}
